<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>IoT</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href='/css/style.css' rel="stylesheet">
	<link href="/css/bootstrap-aux.css" rel="stylesheet">
</head>
<body>
 	<div class="container">
	 <div class="page-header">
         <h1 class="blog-title">Lab IoT</h1>
      
      </div>
       

	<h3 class="sub-header">Raspberry</h3>
	<section>
	<table class="table table-striped">
		<thead>
			<tr>

			<th> Temperatura</th>
			<th> Umidade</th>
			<th> Data</th>

			</tr>
		</thead>
		<tbody>
			<% rasps.forEach(function(r) { %>
				<tr>
					<td> <%- r.temp %> </td>
					<td> <%- r.umidade %> </td>
					<td> <%- r.data%> </td>
				
				</tr>
			<% }) %>
		</tbody>
	</table>

	<form action="/ligaRasp" method="get">
		<button type="submit" class="btn btn-sm btn-success">Liga Led</button>
		<button type="submit" class="btn btn-sm btn-danger" formaction="/desligaRasp"   >Desliga Led</button>
	</form>

	<h3 class="sub-header">Edison</h3>
	</section>
	<section>
	<table class="table table-striped">
		<thead>
			<tr>

			<th> Temperatura</th>
			<th> Umidade</th>
			<th> Data</th>

			</tr>
		</thead>
		<tbody>
			<% edisons.forEach(function(e) { %>
				<tr>
					<td> <%- e.temp %> </td>
					<td> <%- e.umidade %> </td>
					<td> <%- e.data%> </td>
				</tr>
			<% }) %>
		</tbody>
	</table>
	</section>

	<form action="/ligaEdison" method="get">
		<button type="submit" class="btn btn-sm btn-success">Liga Led</button>
		<button type="submit" class="btn btn-sm btn-danger" formaction="/desligaEdison"   >Desliga Led</button>
	</form>

	<h3 class="sub-header">Galileu</h3>
	</section>
	<section>
	<table class="table table-striped">
		<thead>
			<tr>

			<th> Temperatura</th>
			<th> Umidade</th>
			<th> Data</th>

			</tr>
		</thead>
		<tbody>
			<% galileus.forEach(function(g) { %>
				<tr>
					<td> <%- g.temp %> </td>
					<td> <%- g.umidade %> </td>
					<td> <%- g.data%> </td>
				</tr>
			<% }) %>
		</tbody>
	</table>
	</section>
	<form action="/ligaGalileu" method="get">
		<button type="submit" class="btn btn-sm btn-success">Liga Led</button>
		<button type="submit" class="btn btn-sm btn-danger" formaction="/desligaGalileu">Desliga Led</button>
	</form>

	<br>
	 <footer>
        <p>&copy; Inatel</p>
      </footer>
</body>
</html>
